@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u0iqm2');
  src:  url('../fonts/icomoon.eot?u0iqm2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u0iqm2') format('truetype'),
    url('../fonts/icomoon.woff?u0iqm2') format('woff'),
    url('../fonts/icomoon.svg?u0iqm2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_17:before {
  content: "\e90c";
}
.icon-icon_18:before {
  content: "\e90d";
}
.icon-icon_19:before {
  content: "\e90e";
}
.icon-icon_20:before {
  content: "\e90f";
}
.icon-icon_21:before {
  content: "\e910";
}
.icon-icon_22:before {
  content: "\e911";
}
.icon-icon_23:before {
  content: "\e912";
}
.icon-icon_24:before {
  content: "\e913";
}
.icon-icon_25:before {
  content: "\e914";
}
.icon-appraisal_01:before {
  content: "\e900";
}
.icon-appraisal_02:before {
  content: "\e901";
}
.icon-appraisal_03:before {
  content: "\e902";
}
.icon-appraisal_04:before {
  content: "\e903";
}
.icon-appraisal_05:before {
  content: "\e904";
}
.icon-appraisal_06:before {
  content: "\e905";
}
.icon-appraisal_07:before {
  content: "\e906";
}
.icon-appraisal_09:before {
  content: "\e909";
}
.icon-appraisal_10:before {
  content: "\e90a";
}
.icon-appraisal_11:before {
  content: "\e90b";
}
.icon-icon_01:before {
  content: "\e92f";
}
.icon-icon_02:before {
  content: "\e930";
}
.icon-icon_03:before {
  content: "\e931";
}
.icon-icon_04:before {
  content: "\e932";
}
.icon-icon_05:before {
  content: "\e933";
}
.icon-icon_06:before {
  content: "\e934";
}
.icon-icon_07:before {
  content: "\e935";
}
.icon-icon_08:before {
  content: "\e936";
}
.icon-icon_09:before {
  content: "\e937";
}
.icon-icon_10:before {
  content: "\e938";
}
.icon-icon_11:before {
  content: "\e939";
}
.icon-icon_12:before {
  content: "\e93a";
}
.icon-icon_13:before {
  content: "\e93b";
}
.icon-icon_14:before {
  content: "\e93c";
}
.icon-icon_16:before {
  content: "\e93d";
}
.icon-newedu:before {
  content: "\e93e";
}
.icon-english:before {
  content: "\e93f";
}
.icon-trash:before {
  content: "\e940";
}
.icon-office:before {
  content: "\e941";
}
.icon-file-video:before {
  content: "\e942";
}
.icon-map:before {
  content: "\e943";
}
.icon-calendar:before {
  content: "\e944";
}
.icon-bubbles2:before {
  content: "\e945";
}
.icon-users:before {
  content: "\e946";
}
.icon-newspaper:before {
  content: "\e947";
}
.icon-link:before {
  content: "\e948";
}
.icon-envelop:before {
  content: "\e949";
}
.icon-clock2:before {
  content: "\e94a";
}
.icon-quill:before {
  content: "\e94b";
}
.icon-qrcode:before {
  content: "\e94c";
}
.icon-headphones:before {
  content: "\e94d";
}
.icon-clipboard:before {
  content: "\e94e";
}
.icon-icon_152:before {
  content: "\e94f";
}
.icon-create:before {
  content: "\e950";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-appraisal_08 .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-appraisal_08 .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

