html,
body {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.default_nav {
  margin: 0 auto;
  width: 100%;
}

/* 引导页 */

.lead_nav_01 {
  height: 100%;
  background-image: url('../img/bg_01.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

#leadButton {
  position: absolute;
  z-index: 2;
  left: 28%;
  bottom: 3.75rem;
  display: block;
  width: 44%;
  height: 3.666667rem;
  line-height: 3.666667rem;
  font-size: 1.583333rem;
  background: #fff7e0;
  border: solid .166667rem #0f303f;
  border-radius: 3.666667rem;
  color: #0f303f;
}

#md {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.lead_nav_02 {
  position: relative;
  height: 100%;
}

.lead_nav_02 .tit_c {
  display: block;
  width: 100%;
  height: 5rem;
  line-height: 6rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #0f303f;
}

.lead_nav_02 dl {
  width: 100%;
  color: #4e4e4e;
}

.lead_nav_02 dd {
  display: block;
  width: 75%;
  padding: 0 15% 0 10%;
  height: 4.166667rem;
  line-height: 4.166667rem;
  font-size: 1.25rem;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}

.lead_nav_02 dd s {
  position: absolute;
  right: 1em;
  top: 0;
  text-decoration: none;
  color: #aeaeae;
}

/* 向下箭头动画 */

.s-xguide-down {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  bottom: 6rem;
  left: 50%;
  margin-left: -25px;
  background: url('../img/ico_21.png') no-repeat -21px -3px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: .7;
  cursor: pointer
}

@keyframes xguide_down {
  0%,
  100% {
    transform: scale(0.0);
    -moz-transform: scale(0.0);
    -o-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    opacity: 0
  }
  50% {
    transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    opacity: 1
  }
}

@-webkit-keyframes xguide_down {
  0%,
  100% {
    -webkit-transform: scale(0.0);
    -moz-transform: scale(0.0);
    -o-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0
  }
  50% {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1
  }
}

@-moz-keyframes xguide_down {
  0%,
  100% {
    -moz-transform: scale(0.0);
    -o-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0
  }
  50% {
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1
  }
}

@-o-keyframes xguide_down {
  0%,
  100% {
    -o-transform: scale(0.0);
    -moz-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0
  }
  50% {
    -o-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1
  }
}

.s-xguide-down.trans {
  -webkit-animation: xguide_down 4.0s infinite ease-in-out;
  -moz-animation: xguide_down 4.0s infinite ease-in-out;
  -o-animation: xguide_down 4.0s infinite ease-in-out;
  animation: xguide_down 4.0s infinite ease-in-out
}

.s-xguide-down.arrow-1 {
  animation-delay: -2.0s;
  -webkit-animation-delay: -2.0s;
  -moz-animation-delay: -2.0s;
  -o-animation-delay: -2.0s
}

/* 弹窗 */

#popBg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99998;
  background: rgba(0, 0, 0, .55);
}

#popNav {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  background: #fff;
  border-radius: .666667rem;
  width: 80%;
  height: 20rem;
  margin: -10rem 0 0 -40%;
  color: #333;
}

#popNav h2 {
  position: relative;
  display: block;
  width: 100%;
  height: 4.166667rem;
  line-height: 4.166667rem;
  margin-bottom: 1rem;
  border-radius: .666667rem .666667rem 0 0;
  font-size: 1.333333rem;
  font-weight: normal;
  background: #faf9f9;
  color: #292929;
}

#popNav a {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 6;
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 1.166667rem;
}

#popNav a.cancel,
#popNav a.enter {
  display: block;
  bottom: 1rem;
  width: 40%;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 5px;
}

#popNav a.cancel {
  left: 5%;
  border: solid .125rem #f6f6f6;
  color: #aeaeae;
  background: #f6f6f6;
}

#popNav a.enter {
  left: auto;
  right: 5%;
  border: solid .125rem #0f303f;
  color: #0f303f;
  background: #fff7e0;
}

/* 分析页 */

.analyse_nav_01 {
  background-image: url('../img/bg_02.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.analyse_nav_01 img {
  width: 5.833333rem;
  height: 5.833333rem;
  position: absolute;
  z-index: 2;
  left: 3.75rem;
  top: 5.416667rem;
}

.analyse_nav_01 span {
  display: block;
  text-indent: 5rem;
  letter-spacing: -0.5rem;
  font-size: 7.5rem;
  color: #0f303f;
}

.analyse_nav_01 s {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 42rem;
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  left: 0;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: #aeab97;
}

.analyse_nav_02 {
  height: auto !important;
  height: 22.5rem;
  min-height: 22.5rem;
}

.analyse_nav_02 .tit {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
}

.analyse_nav_02 .tit strong {
  font-size: 2rem;
  color: #fff7e0;
}

.analyse_nav_02 ul {
  margin: 0 auto;
  display: block;
  width: 86%;
}

.analyse_nav_02 ul li {
  height: 3.333333rem;
  line-height: 3.333333rem;
  font-size: 1.333333rem;
  text-align: left;
  color: #fff7e0;
}

.analyse_nav_02 ul li img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.analyse_nav_02 ul li span {
  display: inline-block;
  width: 80%;
  height: 100%;
  border-bottom: solid 1px #fff7e0;
}

.analyse_nav_02 ul li:last-of-type span {
  border: none;
}

.analyse_nav_02 ul li s {
  text-decoration: none;
  color: #ffea03;
}

.analyse_nav_02>a {
  display: block;
  width: 44%;
  height: 3.666667rem;
  line-height: 3.666667rem;
  margin: 2.5rem auto 0 auto;
  font-size: 1.583333rem;
  background: #fff7e0;
  border: solid .166667rem #0f303f;
  border-radius: 3.666667rem;
  color: #0f303f;
}

/* 答题页 */

.answer_nav_01 {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

.answer_nav_01 .catalog {
  width: 100%;
  height: 3.166667rem;
  line-height: 3.166667rem;
  font-size: 1.333333rem;
  background: #f9f9f9;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.answer_nav_01 .catalog strong {
  position: absolute;
  z-index: 2;
  left: 1rem;
  top: 0;
  display: block;
  height: 3.166667rem;
  font-size: 1.333333rem;
  font-weight: normal;
  color: #cacaca;
}

.answer_nav_01 .catalog strong em {
  color: #ff9600;
}

.answer_nav_01 .catalog span,
.answer_nav_01 .catalog time {
  display: inline-block;
  color: #424242;
}

.answer_nav_01 .title {
  width: 86%;
  height: auto !important;
  height: 2rem;
  min-height: 2rem;
  line-height: 2rem;
  margin: 5rem auto 1.5rem auto;
  font-size: 1.5rem;
  color: #333;
  text-align: left;
}

.answer_nav_01 .test_img {
  width: 86%;
  margin: 0 auto;
  border-radius: .416667rem;
}

.answer_nav_01 dl {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 90%;
  margin: 0 auto 6rem auto;
  text-align: left;
}

.answer_nav_01 dl dd {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 28.5%;
  margin: 1.666667rem 2% 0 2%;
  position: relative;
}

.answer_nav_01 dl dd .choice {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  border: solid 2px #ededed;
  border-radius: .35rem;
  background: #fefefe;
  cursor: pointer;
}

.answer_nav_01 dl dd.current .choice {
  border: solid 2px #34adfe;
  background: #f2faff;
}

.answer_nav_01 dl dd>img {
  position: absolute;
  z-index: 3;
  left: 2px;
  top: 2px;
}

.answer_nav_01 dl dd span {
  display: block;
  width: 100%;
  height: 3.333333rem;
  line-height: 3.333333rem;
  font-size: 1.416667rem;
  color: #999;
  background-image: url('../img/ico_12.png');
  background-repeat: no-repeat;
  background-position: 4.5rem center;
  background-size: 25%;
  text-align: left;
  text-indent: 2.5rem;
}

.answer_nav_01 dl dd.current span {
  color: #797979;
  background-image: url('../img/ico_11.png');
}

.answer_nav_02 {
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
}

.answer_nav_02 a {
  display: block;
  width: 50%;
  height: 4.166667rem;
  line-height: 4.166667rem;
  position: absolute;
  bottom: -1px;
  border: solid 1px #fff;
  background: #eee;
  font-size: 1.333333rem;
  color: #666;
}

.answer_nav_02 a:first-of-type {
  left: -1px;
}

.answer_nav_02 a:last-of-type {
  right: -1px;
}

.answer_nav_02 a.current {
  background: #34adfe;
  color: #fff;
}

.answer_nav_02 a.wb {
  width: 100%;
}

.answer_nav_01.text_nav dl dd {
  width: 97%;
  margin: 1.3rem 0 1.3rem 3%;
}

.answer_nav_01.text_nav dl dd p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 89%;
  height: auto !important;
  height: 2.5rem;
  min-height: 2.5rem;
  line-height: 2.5rem;
  padding-right: 10%;
  font-size: 1.416667rem;
  color: #999;
  background-image: url('../img/ico_12.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 8%;
  text-align: left;
}

.answer_nav_01.text_nav dl dd.current p {
  color: #797979;
  background-image: url('../img/ico_11.png');
}